<div>
    <a href="/" style="margin-right: 1rem">Homepage</a>
    <a href="/posts" style="margin-right: 1rem">Posts</a>
    <a href="/login" style="margin-right: 1rem">Login</a>
    <a href="/register">Register</a>
</div>